.photo-grid {
  width: 1190px;
  height: auto;
  /*border: solid red;*/
  margin-left: auto;
  margin-right: auto;
  margin-top: 78px;
  display: grid;
  gap: 16px;
  grid-template-columns: repeat(auto-fit, minmax(284px, 284px));
}

@media (min-width: 1024px) and (max-width: 1279px) {
  .photo-grid {
    width: 90.8%;
    gap: 14px;
    margin-top: 75px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  .photo-grid {
    width: 720px;
    gap: 16px;
    grid-template-columns: repeat(auto-fit, minmax(352px, 352px));
    margin-top: 75px;
    margin-bottom: 90px;
  }
}

@media screen and (max-width: 767px) {
  .photo-grid {
    width: 90%;
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(288px, 288px));
    margin-top: 50px;
  }
}
