.places__link {
  font-family: "Inter", "Arial", "sans-serif";
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  color: #ffffff;
  margin: 0;
  padding: 0;
  text-decoration: underline;
}

.places__link:hover {
  opacity: 0.8;
}

@media screen and (max-width: 767px) {
  .places__link {
    margin-left: 16px;
    padding-bottom: 0px;
  }
}
